.error_message  
  = render "devise/shared/error_messages", resource: resource
.account-page
  .main-head
    %h2 会員情報入力

  .registor-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .field__label
          = f.label :メールアドレス
          %span.field__label__require
            必須
          %br/
        .field__input
          = f.email_field :email, autofocus: true, autocomplete: "email"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        .field__label
          = f.label :新しいパスワード
          %i (変更しない場合は空白)
          %br/
        .field__input
          = f.password_field :password, autocomplete: "new-password"
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              文字以上
      .field
        .field__label
          = f.label :新しいパスワード（確認用）
          %br/
        .field__input
          = f.password_field :password_confirmation, autocomplete: "new-password"
      .field
        .field__label
          = f.label :current_password
          %span.field__label__require
            必須
          -# %i (we need your current password to confirm your changes)
          %br/
        .field__input
          = f.password_field :current_password, autocomplete: "current-password", id: "input-current-password"
      .field
        .field__label
          = f.label :ニックネーム
          %span.field__label__require
            必須
        .field__input
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname", id: "input-nickname"
        .field__error-text
          %p#result-nickname ニックネームを入力してください
      .field
        .field__label
          = f.label :お名前（全角）
          %span.field__label__require
            必須
        .field__input-half
          .field__input-half__name
            = f.text_field :first_name, id: "input-first_name"
          .field__input-half__name
            = f.text_field :last_name, id: "input-last_name"
        .field__error-text
          %p#result-first_name 苗字を入力してください
        .field__error-text
          %p#result-last_name お名前を入力してください

      .field
        .field__label
          = f.label :お名前カナ（全角）
          %span.field__label__require
            必須
        .field__input-half
          .field__input-half__name
            = f.text_field :first_name_kana, id: "input-first_name_kana"
          .field__input-half__name
            = f.text_field :last_name_kana, id: "input-last_name_kana"
        .field__error-text
          %p#result-first_name_kana 苗字（カナ）を入力してください
        .field__error-text
          %p#result-last_name_kana お名前（カナ）を入力してください

      .field
        .field__label
          = f.label :生年月日
          %span.field__label__require
            必須
        .field__birth-select
          .field__birth-select__wrap
            != sprintf(f.date_select :birth_day,{use_month_numbers:true, start_year: 1940,end_year: (Time.now.year - 18),date_separator: '&nbsp;/&nbsp;', prompt:""}, id: "input-birth_day" )
        .field__error-text
          %p#result-birth 生年月日を入力してください
      .actions
        = f.submit "登録", class: "btn"


    .button_to_toppage
      = link_to "トップへ戻る", root_path


