.header 
  .header__inner
    .header__main
      .icon
        = link_to "/" do
          = image_tag "logo/logo.png" , size: "140x40"
      .search_box
        %input.input-text{name: "key", placeholder: "キーワードから探す", type: "search", value: "", class: "search"}/
        %button{type: "submit", class:'submit'} 
          .submit_icon
    .header__navigation
      %ul#category__brand
        %li.category
          = link_to "カテゴリー",'#', class: "category__btn"
          .menu_contents
            %ul
              %li
                = link_to "レディース",'#', class: "font"
              %li  
                = link_to "メンズ",'#', class: "font"
              %li  
                = link_to "ベビー•キッズ",'#', class: "font"
              %li  
                = link_to "インテリア•住まい•小物",'#', class: "font"  
              %li  
                = link_to "本•音楽•ゲーム",'#', class: "font"   
              %li  
                = link_to "おもちゃ•グッズ",'#', class: "font"   
              %li  
                = link_to "コスメ•香水•美容",'#', class: "font"   
              %li  
                = link_to "家電•カメラ",'#', class: "font"   
              %li  
                = link_to "スポーツ•レジャー",'#', class: "font"   
              %li  
                = link_to "ハンドメイド",'#', class: "font"   
              %li  
                = link_to "チケット",'#', class: "font"   
              %li  
                = link_to "自転車•オートバイ",'#', class: "font"   
              %li  
                = link_to "その他",'#', class: "font"   

        %li.brand
          = link_to "ブランド",'#', class: "brand__btn"
      - if user_signed_in?
        %ul.login__registration
          %li.username
            こんにちは
            =current_user.nickname
            さん
          %li.mypage
            = link_to "マイページ",user_path(current_user), class: "mypage__btn"
          %li.card
            = link_to "カード情報",card_path(current_user), class: "card__btn"
          %li.logout
            = link_to "ログアウト",destroy_user_session_path , method: :delete,class: "login__btn"
      - else
        %ul.login__registration
          
          %li.login
            = link_to "ログイン",new_user_session_path, class: "login__btn" 
          %li.restration
            = link_to "新規会員登録",new_user_registration_path, class: "registration__btn"