.main-logo
  = image_tag(image_path('logo/logo.png'), class: 'logo')
= form_for @item do |f|
  -# カテゴリーにもvalidationを掛けエラーメッセージが表示されるようにすること！（三輪）
  - if @item.errors
    %ul.error_message_items_new
      - @item.errors.full_messages.each do |message|
        %li.error_message_items_new__li= message

  .item-container
    .item-images
      .field
        .field__label
          %p 出品画像
          %span.field__label__require
            必須
        %p.image-info__message
          最大10枚までアップロードできます
        .field__input-images
          #input-images
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag src = "#{image.image_url}", data: { index: i }, width: "100", height: '100'

            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :image_url, class: 'js-file'
                %br/
                %span.js-remove 削除
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{"data-index" => "#{@item.images.count}"}
                = file_field_tag :image_url, name: "product[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                .js-remove 削除


          -#   .camera-icon
          -#     %i.fas.fa-camera
          -# %p.upload-message
          -#   クリックしてファイルをアップロード
        .field__error-text
          %p.result-images 画像がありません
    .item-index
      .field
        .field__label
          %p 商品名
          %span.field__label__require
            必須
        .field__input--line
          = f.text_field :name, class:"item-name", placeholder: "40文字まで"
        .field__error-text
          %p.result-item-name 入力してください
      .field
        .field__label
          %p 商品の説明
          %span.field__label__require
            必須
        .field__input--text
          = f.text_area :introduction, class:"item-text",placeholder: "商品の説明（必須 1,000文字以内）"
        .counter
          %span.word-count 0
          %span / 1000
        .field__error-text
          %p.result-item-text 入力してください
    .item-info
      %h2 商品の詳細
      .field
        .field__label
          %p カテゴリー
          %span.field__label__require
            必須
        .field__select
          -# カテゴリーのcollection_selectの実装はカテゴリーテーブルを作った後にする。（三輪）
          = select_tag 'field__select--category', options_for_select(["選択して下さい", "レディース", "メンズ", "ベビー・キッズ", "インテリア・住まい・小物", "本・音楽・ゲーム"]), class: "field__select--category"
        .field__error-text
          %p.result-category 選択してください
      .field
        .field__label
          %p ブランド
          %span.field__label__any
            任意
        .field__input--line
          = f.text_field :brand_name, class:"brand-name", placeholder: "例）シャネル"
        .field__error-text
      .field
        .field__label
          %p 商品の状態
          %span.field__label__require
            必須
        .field__select
          = f.collection_select :status_id, Status.all, :id, :status,{prompt: "選択して下さい"},{class: "field__select--status"}
        .field__error-text
          %p.result-status 選択してください
    .delivery-info
      %h2 配送について
      .field
        .field__label
          %p 配送料の負担
          %span.field__label__require
            必須
        .field__select
          = f.collection_select :postage_type_id, PostageType.all, :id, :postage_type,{prompt: "選択して下さい"},{class: "field__select--postage_type"}
        .field__error-text
          %p.result-postage 選択してください
      .field
        .field__label
          %p 発送元の地域
          %span.field__label__require
            必須
        .field__select
          = f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture,{prompt: "選択して下さい"},{class: "field__select--prefecture"}
        .field__error-text
          %p.result-prefecture 選択してください
      .field
        .field__label
          %p 配送までの日数
          %span.field__label__require
            必須
        .field__select
          = f.collection_select :need_day_id, NeedDay.all, :id, :need_day,{prompt: "選択して下さい"},{class: "field__select--need_day"}
        .field__error-text
          %p.result-day 選択してください
    .pay-info
      %h2 価格（¥300〜9,999,999）
      .field
        .field__label
          %p 販売価格
          %span.field__label__require
            必須
        .field__input--price
          ¥
          = f.number_field :price, class:"input-price"
      .field__error-text
        %p.result-price 300以上9999999以下で入力してください
    .exhibition-button
      = f.submit "出品する", class:"exhibition-button__btn"
      = link_to "もどる", root_path, {class: "back-btn"}