.header_index
  = render partial: 'header_index' 
  
.contents
  .contents_top
    .contents_top_box
      .contents_top_box_contents
        .top_message
          人生を変えるフリマアプリ
        .top_sub_message
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
        .link_contents
          .applestore
          .googleplay
  .contents__second
    
    %h1.contents_reason 
      FURIMAが選ばれる3つの理由
      .contents_second_title_after
    %ul.how_use
      %li.usage1
        .pic1
          = image_tag src="pict/pict-reason-01.jpg", size: "300x300"
          .picture1 1
        %p.display1 <b><span>3分</span>ですぐに出品</b>
        %p.display_comment1 スマホで入力するだけで簡単に出品<br>できる！</br>
        
      %li.usage2
        .pic2
          = image_tag src="pict/pict-reason-02.jpg", size: "300x300"
          .picture2 2
        %p.display2 <b><span>シンプル</span>で使いやすい</b>
        %p.display_comment2 めんどくさい入力は必要なく、<br>検索も購入もスムーズ！

      %li.usage3
        .pic3
          = image_tag src="pict/pict-reason-03.jpg", size: "300x300"
          .picture3 3
        %p.display3  <b>手数料<span>業界最安</span></b>
        %p.display_comment3 最大3%でお得に出品&購入！！

  .contents_third
    .contents_third_inner
      .contents_third_inner_title 会員数日本1位
      .contents_third_inner_sub_title
        <b>FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。</b>
      .contents_third_inner_icon
        .third_applestore
        .third_googleplay


  .contents_forth
    
    %h1.contents_feature FURIMAの特徴
    .contents_forth_title_after
    %ul.how_use
      %li.usage1
        .pic1
        = image_tag src="icon/icon-01.png", size: "300x300"
        %p.display 簡単に売り買いできる
        %p.display_comment スマホひとつで、いつでもどこでも<br>簡単に出品・購入が可能！
          
      %li.usage2
        .pic1
        = image_tag src="icon/icon-03.png", size: "300x300"
        %p.display 売上金は即日振込みに対応
        %p.display_comment 午前9時までに振込を依頼いただければ、<br>翌日に指定の口座に入金いたします!

      %li.usage3
        .pic1
        = image_tag src="icon/icon-04.png", size: "300x300"
        %p.display 様々な支払いに対応
        %p.display_comment お支払いは、クレジットカードだけでなく、<br>ポイントや売上金など多彩な方法があります。

  .contents_fifth
    .contents_pickup
      %h1.contents_feature 
      ピックアップカテゴリー
      %ul.how_use
        - @items.each do |item|
          .usage1
            = link_to item_path(item), class: "usage" do
              .picture_top
                - item.images.first(1).each do |image|
                  = image_tag image.image_url.to_s, class: "picture__top--item"
              .picture__top--price
                ¥
                = item.price
              .picture__bottom
                %p.picture__bottom--text
                  = item.name
    .contents_archive
      %h1.contents_feature 
      ピックアップブランド
      %ul.how_use
        - @items.each do |item|
          .usage1
            = link_to items_path(item), class: "usage" do
              .picture_top
                - item.images.first(1).each do |image|
                  = image_tag image.image_url.to_s, class: "picture__top--item"
              .picture__top--price
                ¥
                = item.price
              .picture__bottom
                .picture__bottom--text
                  = item.name




  .contents_sixth
    .sixth_inner
      .inner_title
        だれでもかんたん、人生を変えるフリマアプリ
      .inner_sub_title
        今すぐ無料ダウンロード！
      .inner_icon
        .applestore
        .googleplay

.footer_index
  = render partial: 'footer_index' 

