.main-logo
  = image_tag(image_path('logo/logo.png'), class: 'logo')
.item-container
  .item-images
    .field
      .field__label
        %p 出品画像
        %span.field__label__require
          必須
      %p.image-info__message
        最大10枚までアップロードできます
      .field__input-images
        %input{id: 'input-images'}
          .camera-icon
            %i.fas.fa-camera
        %p.upload-message
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
      .field__error-text
        %p.result-images 画像がありません
  .item-index
    .field
      .field__label
        %p 商品名
        %span.field__label__require
          必須
      .field__input--line
        %input.item-name{placeholder: "40文字まで"}
      .field__error-text
        %p.result-item-name 入力してください
    .field
      .field__label
        %p 商品の説明
        %span.field__label__require
          必須
      .field__input--text
        %textarea.item-text{placeholder: "商品の説明（必須 1,000文字以内）"}
      .counter
        %span.word-count 0
        %span / 1000
      .field__error-text
        %p.result-item-text 入力してください
  .item-info
    %h2 商品の詳細
    .field
      .field__label
        %p カテゴリー
        %span.field__label__require
          必須
      .field__select
        = select_tag 'field__select--category', options_for_select(["選択して下さい", "レディース", "メンズ", "ベビー・キッズ", "インテリア・住まい・小物", "本・音楽・ゲーム"]), class: "field__select--category"
      .field__error-text
        %p.result-category 選択してください
    .field
      .field__label
        %p ブランド
        %span.field__label__any
          任意
      .field__input--line
        %input.brand-name{placeholder: "例）シャネル"} 
      .field__error-text
    .field
      .field__label
        %p 商品の状態
        %span.field__label__require
          必須
      .field__select
        = select_tag 'field__select--status', options_for_select(["選択して下さい", "新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"]), class: "field__select--status"
      .field__error-text
        %p.result-status 選択してください
  .delivery-info
    %h2 配送について
    .field
      .field__label
        %p 配送料の負担
        %span.field__label__require
          必須
      .field__select
        = select_tag 'field__select--postage_type', options_for_select(["選択して下さい", "送料込み（出品者負担）", "着払い（購入者負担）"]), class: "field__select--postage_type"
      .field__error-text
        %p.result-postage 選択してください
    .field
      .field__label
        %p 発送元の地域
        %span.field__label__require
          必須
      .field__select
        = select_tag 'field__select--prefecture', options_for_select(["選択して下さい", "北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県"]), class: "field__select--prefecture"
      .field__error-text
        %p.result-prefecture 選択してください
    .field
      .field__label
        %p 配送までの日数
        %span.field__label__require
          必須
      .field__select
        = select_tag 'field__select--need_day', options_for_select(["選択して下さい", "1~2日で発送", "2~3日で発送", "4~7日で発送"]), class: "field__select--need_day"
      .field__error-text
        %p.result-day 選択してください
  .pay-info
    %h2 価格（¥300〜9,999,999）
    .field
      .field__label
        %p 販売価格
        %span.field__label__require
          必須
      .field__input--price
        ¥
        %input.input-price{type:"number", placeholder: 0}
    .field__error-text
      %p.result-price 300以上9999999以下で入力してください
  .exhibition-button
    %a.exhibition-button__btn(href="#") 出品する
    = link_to "もどる", root_path, {class: "back-btn"}