//ログイン・新規登録ボタンの表示有無を後に確認、実装（近藤）

.header_index
  = render partial: 'items/header_index' 

.contentss
  .contentss__center
    .product__name
      %h1
        = @item.name
    %ul.image__detail
      %li.image
        #mainImage
          = image_tag src="#{@images[0].image_url}", size: "270x330"
        #imageList
          %ul.imageList__display
            - @images.each do |image|
              %li
              = image_tag src = "#{image.image_url}", size: "55x60"
      %li.detail
        %table
          %tr
            %td.exhibitor.left1
              出品者
              = @url
            %td.exhibitor__name.right1
              = @user.nickname
          %tr
            %td.left1
              カテゴリー
            %td.right1
              メンズ
              -# カテゴリーのテーブルができてから実装する（鈴木）
          %tr
            %td.left1
              ブランド    
            %td.right1
              = @item.brand_name
          %tr
            %td.left2
              商品の状態    
            %td.right2
              = @status.status
          %tr
            %td.left2
              配送量の負担
            %td.sending__fee.right2
              = @postage_type.postage_type
          %tr
            %td.left2
              配送元地域
            %td.right2
              = @prefecture.prefecture
          %tr
            %td.left2
              配送日の目安
            %td.right2
              = @need_day.need_day  

    %ul.product__price
      %li.price
        ¥
        = number_to_currency(@item.price, :unit => "円")
      %li.tax
        （税抜き）
      %li.postage__type
        = @postage_type.postage_type
        
    - if current_user != @user
      .purchase__btn
        = link_to "購入画面に進む", "/items/#{params[:id]}/purchase", class: "purchase__btn__name"
    - else
      .edit__btn
        = link_to "商品の編集", "/items/#{params[:id]}/edit", class: "edit__btn__name"
      .destroy__btn
        = link_to "この商品を削除する" ,"/items/#{params[:id]}", method: :delete, class: "destroy__btn__name"

    .product__detail
      = safe_join(@item.introduction.split("\n"),tag(:br))

    .caution
      %p.caution__comment
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。

    .search_box
      %textarea.input__text
    .submit__btn      
      %button{type: "submit",  value: "送信する", class:'submit'}  
        .p
          コメントする
    

//のちの実装時に追加（近藤）

-# .footer_index
-#   = render partial: 'items/footer_index'   
